@model Khdoum.UI.Models.Market

@{
    ViewData["Title"] = "قائمة المتاجر";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h1>قائمة المتاجر</h1>
<p>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">اضافة جديد</a>
</p>

<table class="table table-striped table-bordered text-center" id="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                الاسم
            </th>
            <th>
                رقم الهاتف
            </th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="AddForm" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اضافة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">الاسم</label>
                                <input asp-for="Name" class="form-control Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label">البريد الالكترونى</label>
                                <input asp-for="Email" class="form-control Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label">الهاتف</label>
                                <input asp-for="Phone" class="form-control Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">كلمة المرور</label>
                                <input asp-for="Password" class="form-control Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label">تأكيد كلمة المرور</label>
                                <input asp-for="ConfirmPassword" class="form-control ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Image" class="control-label">الصورة</label>
                                <input asp-for="Image" id="Image" type="file" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                    <button type="submit" id="AddBtn" class="btn btn-primary">اضافة</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="EditForm" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تعديل</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="ID" class="ID" type="hidden" />
                            <input name="ConfirmPassword" value="AAaa1345855555##" class="ConfirmPassword" type="hidden" />
                            <input name="Password" value="AAaa1345855555##" class="Password" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">الاسم</label>
                                <input asp-for="Name" class="form-control Name" />
                                <span asp-validation-for="Name" class="text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label">البريد الالكترونى</label>
                                <input asp-for="Email" class="form-control Email" />
                                <span asp-validation-for="Email" class="text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="control-label">الصورة</label>
                                <input asp-for="Image" id="Image" type="file" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <button type="submit" id="SaveBtn" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="ViewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">عرض</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">الاسم</label>
                                <input readonly asp-for="Name" class="form-control Name" />
                                <span asp-validation-for="Name" class="text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label">البريد الالكترونى</label>
                                <input readonly asp-for="Email" class="form-control Email" />
                                <span asp-validation-for="Email" class="text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label">الهاتف</label>
                                <input readonly asp-for="Phone" class="form-control Phone" />
                                <span asp-validation-for="Phone" class="text-danger "></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="control-label">الصورة</label>
                                <input readonly asp-for="Image" id="Image" type="file" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="AddMarketProductsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="AddMarketProductsForm" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تحديد منتجات المتجر</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered text-center table-responsive" id="MarketProductsTable">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            الاسم
                                        </th>
                                        <th>
                                            السعر
                                        </th>
                                        <th>
                                            التصنيف
                                        </th>
                                        <th>
                                            الوحدة
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
                    <button type="submit" id="AddBtn" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts
{
    <script>


        var Products = [];

        $(function () {


            FillTable();

            $("#AddForm").submit(function (e) {
                e.preventDefault();
                if (Validation()) {
                    Insert();
                }
            });


            $("#EditForm").submit(function (e) {
                e.preventDefault();
                if (Validation()) {
                    Update();
                }

            });

            $("#AddMarketProductsForm").submit(function (e) {
                e.preventDefault();
                AddMarketProducts();
            });

            $(document).on("click", ".EditBtn", function () {
                var ItemId = $(this).attr("ItemId");
                ViewData(ItemId, "EditModal");
            });

            $(document).on("click", ".DetailsBtn", function () {
                var ItemId = $(this).attr("ItemId");
                console.log(ItemId);
                ViewData(ItemId, "ViewModal");
            });

            $(document).on("click", ".DeleteBtn", function () {
                var ItemId = $(this).attr("ItemId");
                Delete(ItemId);
            });

            $(document).on("click", ".AddProductsBtn", function () {
                Products = [];
                var ItemId = $(this).attr("ItemId");
                FillProductsTable(ItemId);
                $('#AddMarketProductsModal').modal('show');
            });

            $(document).on("click", ".IsEnabled", function () {
                if ($(this).is(':checked')) {
                    var price = $(this).closest("tr").find('.Price').val();
                    if (price == 0) {
                        $(this).closest('tr').find('.ErrorMessage').text("السعر مطلوب");
                        $(this).closest('tr').find('.IsEnabled').prop('checked',false)
                        return;
                    }
                    else {

                        $(this).closest('tr').find('.ErrorMessage').text("");

                        var index = Products.length;
                        var ID = $(this).closest("tr").find('.ID').val();
                        var MarketId = $(this).closest("tr").find('.MarketId').val();
                        var IsEnabled = $(this).closest("tr").find('.IsEnabled').val();

                        var obj = {};
                        obj[`products[${index}].ID`] = ID;
                        obj[`products[${index}].MarketId`] = MarketId;
                        obj[`products[${index}].IsEnabled`] = IsEnabled;
                        obj[`products[${index}].Price`] = price;
                        obj[`ID`] = ID;


                        Products.push(obj);

                    }
                }
                else {
                    var ID = $(this).closest("tr").find('.ID').val();
                    var i = Products.findIndex(x => x.ID === ID);
                    Products.splice(i, 1);
                  

                    var ps = [];
                    ps.push(...Products);

                    Products = [];
                    $.each(ps,function (index,item) {
                        var obj = {};

                        var IDKey = Object.keys(item)[0];
                        var MarketIdKey = Object.keys(item)[1];
                        var IsEnabledKey = Object.keys(item)[2];
                        var PriceKey = Object.keys(item)[3];
                        var GetIDKey = Object.keys(item)[4];

                        obj[`products[${index}].ID`] = item[IDKey];
                        obj[`products[${index}].MarketId`] = item[MarketIdKey];
                        obj[`products[${index}].IsEnabled`] = item[IsEnabledKey];
                        obj[`products[${index}].Price`] = item[PriceKey];
                        obj[`ID`] = item[GetIDKey];
                        Products.push(obj);
                    });

                    
                }
            });

            


        });

        function Insert() {

            //if (!Validation('#add_modal')) {
            //    e.preventDefault();
            //    return;
            //}

            //Create FormData object
            var fileData = new FormData();

            var SerializedData = $("#AddForm").serializeArray();


            var fileUpload = $("#AddForm #Image").get(0);
            if (fileUpload != null && fileUpload != undefined) {
                var file = fileUpload.files[0];
                fileData.append('Image', file);
                console.log(file);
            }


            $.each(SerializedData, function (index, item) {
                fileData.append(item.name, item.value);
            });


            $.ajax({
                type: 'POST',
                url: `@Url.Action("Create", "Markets")`,
                processData: false,
                contentType: false,
                data: fileData ,
                //beforeSend: function () {

                //},

            success: function (data) {

                if (data.status == true) {
                    EmptyFeilds();
                    $('#AddModal').modal('hide');
                    FillTable();
                }

                //if (data.Message.Title != null && data.Message.Title != "" ) {
                //    var title = data.Message.Title;
                //    var body = data.Message.Description;
                //    var type = data.Message.Type;
                //    ShowMessage(title, body, type);
                //}
                },
                error: function (ex) {

                    console.log(ex);
                    console.log(response);

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

        }

        function ViewData(Id,modal) {
            $.ajax({
                type: 'POST',
                url: `@Url.Action("GetSingle", "Markets")`,
                data: {
                    Id:Id
                },
                //beforeSend: function () {

                //},

            success: function (data) {

                if (data.market.id != "") {
                    $(`#${modal} .ID`).val(data.market.id);
                    $(`#${modal} .Name`).val(data.market.name);
                    $(`#${modal} .Phone`).val(data.market.phone);
                    $(`#${modal} .Email`).val(data.market.email);

                    $(`#${modal}`).modal('show');
                }

                },
                error: function (ex) {

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
        }

        function Update() {

            //if (!Validation('#add_modal')) {
            //    e.preventDefault();
            //    return;
            //}

            //Create FormData object
            var fileData = new FormData();

            var SerializedData = $("#EditForm").serializeArray();


            var fileUpload = $("#EditForm #Image").get(0);
            if (fileUpload != null && fileUpload != undefined) {
                var file = fileUpload.files[0];
                fileData.append('Image', file);
            }


            $.each(SerializedData, function (index, item) {
                fileData.append(item.name, item.value);
                console.log(`${item.name}: ${item.value}`);
            });


            $.ajax({
                type: 'POST',
                url: `@Url.Action("Update", "Markets")`,
                processData: false,
                contentType: false,
                data: fileData ,
                //beforeSend: function () {

                //},

            success: function (data) {

                if (data.status == true) {
                    $('#EditModal').modal('hide');
                    FillTable();
                }

                //if (data.Message.Title != null && data.Message.Title != "" ) {
                //    var title = data.Message.Title;
                //    var body = data.Message.Description;
                //    var type = data.Message.Type;
                //    ShowMessage(title, body, type);
                //}
                },
                error: function (ex) {



                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

        }

        function FillTable() {
            var Url = "@Url.Action("GetList", "Markets")";
            var Columns = [
                {
                    data: null, render: function (data, type, row) {

                        var img = '';
                        if (data.imgUrl == "false") {
                            img = `<img src="@Model.BaseAddres/Uploads/default.png" class="tbl-img"/>`
                        }
                        else {
                            img = `<img src="@Model.BaseAddres/Uploads/Markets/${data.imgUrl}" class="tbl-img"/>`
                        }

                        return img;
                    }
                },
                { data: 'name', 'name': 'name' },
                { data: 'phone', 'name': 'phone' },
                {
                    data: null, render: function (data, type, row) {
                        return `<a class="btn btn-warning tbl-btn EditBtn" ItemId="${data.id}" ><i class="fas fa-pen"></i></a>
                                <a class="btn btn-info tbl-btn DetailsBtn" ItemId="${data.id}" ><i class="fas fa-info"></i></a>
                                <a class="btn btn-danger tbl-btn DeleteBtn" ItemId="${data.id}" ><i class="fas fa-trash"></i></a>
                                <a class="btn btn-primary tbl-btn AddProductsBtn" ItemId="${data.id}" ><i class="fas fa-plus"></i></a>`;
                    }
                },
            ];
            BuildAjaxDataTable($("#table"), Url, Columns, [],"markets",false);
        }

        function Delete(Id, Name = null) {

            var name = (Name == null) ? "العنصر" : Name;

            Swal.fire({
                text: "هل انت متأكد من أنك تريد الحذف " + name + "?",
                icon: "warning",
                showCancelButton: !0,
                buttonsStyling: !1,
                confirmButtonText: "نعم احذف",
                cancelButtonText: "الغاء",
                customClass: {
                    confirmButton: "btn fw-bold btn-danger",
                    cancelButton: "btn fw-bold btn-active-light-primary"
                }
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    //Swal.fire('Saved!', '', 'success')

                    $.ajax({
                        type: 'POST',
                        url: `@Url.Action("Delete", "Markets")`,
                        data: {
                            Id:Id
                        },
                        //beforeSend: function () {

                        //},

                        success: function (data) {


                            if (data.status == true) {
                                FillTable();
                            }



                        },
                        error: function (ex) {

                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });


                } else if (result.isDenied) {
                    //Swal.fire('Changes are not saved', '', 'info')
                }
            })
        }

        function Validation() {

            var length = 0;
            length = $(".field-validation-error").length;

            if (length == 0) {
                return true;
            }

            return false;

        }

        function FillProductsTable(MarketId) {
            var Url = "@Url.Action("GetMarketProductsList", "Markets")";
            var Columns = [
                {
                    data: null, render: function (data, type, row) {

                        var img = '';
                        if (data.imgUrl == "false") {
                            img = `<img src="@Model.BaseAddres/Uploads/default.png" class="tbl-img"/>`
                        }
                        else {
                            img = `<img src="@Model.BaseAddres/Uploads/Markets/${data.imgUrl}" class="tbl-img"/>`
                        }

                        return img;
                    }
                },
                { data: 'name', 'name': 'name' },
                {
                    data: null, render: function (data, type, row) {

                        return ` <div class="form-group">
                                    <input  value="${data.price}"  class="form-control Price" />
                                    <input type="hidden"   value="${data.marketId}" class="form-control MarketId" />
                                    <input type="hidden"   value="${data.id}" class="form-control ID" />
                                    <span class="text-danger ErrorMessage"></span>
                                 </div>`;
                    }
                },
                { data: 'categoryName', 'name': 'categoryName' },
                { data: 'unitName', 'name': 'unitName' },
                {
                    data: null, render: function (data, type, row) {

                        var SelectBtn = ``;

                        if (data.isEnabled) {

                            // fill products to bind with add market products action

                            var ID = `${data.id}`;
                            var i = Products.findIndex(x => x.ID === ID);
                            if (i == -1) {
                                var index = Products.length;
                                var ID = data.id;
                                var MarketId = data.marketId;
                                var IsEnabled = data.isEnabled;
                                var Price = data.price;
                                var obj = {};
                                obj[`products[${index}].ID`] = `${ID}`;
                                obj[`products[${index}].MarketId`] = `${MarketId}`;
                                obj[`products[${index}].IsEnabled`] = `${IsEnabled}`;
                                obj[`products[${index}].Price`] = `${Price}`;
                                obj[`ID`] = `${ID}`;

                                Products.push(obj);
                            }
                            

                            SelectBtn = `<input class="IsEnabled" type='checkbox' checked value="true"  />`
                        }
                        else {
                            SelectBtn = `<input class="IsEnabled" type='checkbox'  value="true"/>`
                        }



                        return SelectBtn;
                    }
                },
            ];

            var data = {
                MarketId: MarketId,
            };


            BuildAjaxDataTable($("#MarketProductsTable"), Url, Columns, data,"marketProducts",false);
        }

        function AddMarketProducts() {
            var formData = new FormData();

            //var SerializedData = $("#AddMarketProductsForm").serializeArray();

            var SerializedData = [];

            $.each(Products, function (index,item) {
                var IDKey = Object.keys(item)[0];
                var MarketIdKey = Object.keys(item)[1];
                var IsEnabledKey = Object.keys(item)[2];
                var PriceKey = Object.keys(item)[3];


                var IdObj = { name: IDKey, value: item[IDKey] };
                var MarketIdObj = { name: MarketIdKey, value: item[MarketIdKey] };
                var IsEnabledObj = { name: IsEnabledKey, value: item[IsEnabledKey] };
                var PriceObj = { name: PriceKey, value: item[PriceKey] };

                SerializedData.push(IdObj);
                SerializedData.push(MarketIdObj);
                SerializedData.push(IsEnabledObj);
                SerializedData.push(PriceObj);

            });


            $.each(SerializedData, function (index, item) {
                formData.append(item.name, item.value);
            });


            $.ajax({
                type: 'POST',
                url: `@Url.Action("AddMarketProducts", "Markets")`,
                processData: false,
                contentType: false,
                data: formData ,
                //beforeSend: function () {

                //},

            success: function (data) {

                if (data.status == true) {
                    Products = [];
                    $('#AddMarketProductsModal').modal('hide');
                } 

                //if (data.Message.Title != null && data.Message.Title != "" ) {
                //    var title = data.Message.Title;
                //    var body = data.Message.Description;
                //    var type = data.Message.Type;
                //    ShowMessage(title, body, type);
                //}
                },
                error: function (ex) {

                    console.log(ex);
                    console.log(response);

                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
        }

    </script>
}

